.pbox{
  display: inline-block;
  padding: 20px 20px;
  background: yellow;
  margin-top: 30px;
  font-family:'Bodoni72';
}
.boxs{
  width: 100%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.left p{
  text-align: justify;
  font-family:'Bodoni72';
}
.leftitem{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.leftitem img {
  width: 43%;
}
.right{
  width: 50%;
  text-align: center;
}
.right img {
  width: 450px;
  height: 450px;
}
.bbxs{
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.bbxs1,.bbxs3{
  width: 23%;
}
.bbxs1 img,.bbxs3 img{
  width: 100%;
}
.bbxs3 img{
  margin-top: 60%;
}
.bbxs2{
  width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}
.bbxs2 img{
  width: 60%;
  text-align: center;
}
.bbxs2 p{
  text-align: justify;
  font-size: 14px;
  margin-top: 20px;
  font-family:'Bodoni72';
}
.last{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.last1{
  width: 40%;
}
.last1 img{
  width: 100%;
}
.last2{
  width: 50%;
  padding-top: 20%;
}
.last2 p {
  margin-top: 20px;
  font-size: 14px;
  font-family:'Bodoni72';
}
